.wrap {
  padding: 5px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
  margin-right: 10px;
  max-width: 72px;
}

.mat-progress-spinner {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
