<div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
  <div fxFlex="4 1 100%" style="overflow-y: auto">
    <h1>Diseases:</h1>
    <div *ngFor="let disease of diseases">
      <mat-card *ngIf="disease.Count > 0">
        <mat-card-header>
          <mat-card-title>{{ disease.Name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div fxLayout>
            <div fxFlex="8 1 auto">
              <ng-container *ngIf="isVirus(disease); else elseTemplate">
                <p>Viruses: {{ disease.Count | round }}</p>
                <!--
              <p>Host Cells: {{ disease.HostCells | round }}</p>
              -->
              </ng-container>
              <ng-template #elseTemplate>
                <p>Bacteria: {{ disease.Count | round }}</p>
              </ng-template>
            </div>
            <div fxFlex="8 1 auto">
              <div *ngFor="let defender of disease.defenders">
                <p *ngIf="defender.count > 1">
                  {{ defender.name }}: {{ defender.count | round }}
                  <span
                    title="Mobilization: {{
                      defender.receivedMoblizedPerHour | number: '1.1-1'
                    }}, Combat Loss: {{
                      defender.combatLossesPerHour | number: '1.1-1'
                    }}"
                    >({{
                      defender.combatDeltaPerHour | number: "1.1-1"
                    }}
                    /h)</span
                  >
                </p>
              </div>
            </div>
            <div fxFlex="1 4 auto">
              <img src="assets/pictures/flu.png" class="image" />
            </div>
          </div>

          <mat-progress-bar
            color="warn"
            mode="determinate"
            value="{{ (disease.Deadliness * disease.Count) / 1000 }}"
          ></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="4 1 100%" style="overflow-y: auto">
    <h1>Immune Response:</h1>
    <div *ngFor="let defender of defenses.defenders">
      <mat-card *ngIf="defender.count > 0">
        <mat-card-header matTooltip="{{ defender.tooltip }}">
          <mat-card-title>{{ defender.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            {{ defender.count | round }}
            <span
              title="Production: {{
                defender.productionPerHour | number: '1.1-1'
              }}, Decay: {{ defender.decayPerHour | number: '1.1-1' }}"
              >({{ defender.growthPerHour | number: "1.1-1" }} /h)
            </span>
            <span [ngSwitch]="true">
              <mat-icon
                color="accent"
                svgIcon="cust_up"
                *ngSwitchCase="
                  10 > defender.growthPerHour && defender.growthPerHour > 0
                "
              ></mat-icon>
              <mat-icon
                color="accent"
                svgIcon="cust_up_2x"
                *ngSwitchCase="
                  100 > defender.growthPerHour && defender.growthPerHour > 10
                "
              ></mat-icon>
              <mat-icon
                color="accent"
                svgIcon="cust_up_3x"
                *ngSwitchCase="defender.growthPerHour > 100"
              ></mat-icon>
              <mat-icon
                color="warn"
                svgIcon="cust_down"
                *ngSwitchCase="
                  -10 < defender.growthPerHour && defender.growthPerHour < 0
                "
              ></mat-icon>
              <mat-icon
                color="warn"
                svgIcon="cust_down_2x"
                *ngSwitchCase="
                  -100 < defender.growthPerHour && defender.growthPerHour < -10
                "
              ></mat-icon>
              <mat-icon
                color="warn"
                svgIcon="cust_down_3x"
                *ngSwitchCase="defender.growthPerHour < -100"
              ></mat-icon>
              <p *ngSwitchDefault></p>
            </span>
            <!--
            <mat-icon color="warn" svgIcon="cust_down"></mat-icon>
            <mat-icon color="warn" svgIcon="cust_down_2x"></mat-icon>
            <mat-icon color="warn" svgIcon="cust_down_3x"></mat-icon>
            -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="1 4 100%">
    <h1>Health:</h1>
    <mat-progress-spinner
      value="{{ health }}"
      mode="determinate"
      color="{{ health > 20 ? 'accent' : 'warn' }}"
    >
    </mat-progress-spinner>
    <app-status></app-status>
  </div>
</div>
