<div class="container">
  <div class="column">
    <div>
      <button mat-raised-button color="primary" (click)="drawCard()">
        Draw
      </button>
    </div>
  </div>
  <div
    *ngFor="let card of cards; let i = index"
    cdkDropList
    [@inOutAnimation]
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event, card)"
  >
    <app-card [card]="card"></app-card>
  </div>
  <div>
    <div>
      <button mat-button disabled class="box-button">
        {{ currentGame.Deck.graveyard.length }}
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </button>
    </div>
    <div>
      <button mat-button disabled class="box-button">
        {{ currentGame.Deck.cards.length }}
        <button mat-icon-button>
          <mat-icon>how_to_vote</mat-icon>
        </button>
      </button>
    </div>
  </div>
</div>
