<div
  fxLayout="row"
  fxLayoutAlign="center end"
  style="overflow: visible"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  class="drag-container"
>
  <div>
    <div>
      <button mat-raised-button color="primary" (click)="drawCard()">
        Draw
      </button>
    </div>
  </div>
  <div
    *ngFor="let card of cards; let i = index"
    [@inOutAnimation]
    style="overflow: hidden; cursor: pointer"
    cdkDrag
    [cdkDragData]="card"
    class="drag-item"
    (click)="playCard(card)"
  >
    <app-card [card]="card"></app-card>
  </div>
  <div>
    <div>
      <button mat-button disabled class="box-button">
        {{ currentGame.Deck.graveyard.length }}
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </button>
    </div>
    <div>
      <button mat-button disabled class="box-button">
        {{ currentGame.Deck.cards.length }}
        <button mat-icon-button>
          <mat-icon>how_to_vote</mat-icon>
        </button>
      </button>
    </div>
  </div>
  <div>
    <h1>Next Card</h1>
    <mat-progress-spinner
      value="{{ currentGame.nextCardTimeRatio * 100 }}"
      mode="determinate"
      color="{{ currentGame.nextCardTimeRatio > 0.2 ? 'accent' : 'warn' }}"
    >
    </mat-progress-spinner>
  </div>
</div>
