<div
  class="position-absolute w-100 h-100"
  style="top: 0; left: 0; overflow: hidden"
>
  <app-backdrop></app-backdrop>
</div>

<div
  class="position-relative"
  fxLayout="column"
  fxLayoutAlign="space-between"
  style="max-height: 100%; height: 100%"
>
  <app-navbar fxFlex="0 0 0"></app-navbar>

  <!--<router-outlet></router-outlet>-->

  <div fxLayout="row" fxFlex="1 0 600px">
    <div
      fxFlex="1 1 20em"
      class="p-2"
      style="overflow-y: scroll; overflow-x: hidden"
    >
      <div>
        <app-debug-view></app-debug-view>
      </div>
      <div>
        <app-newsticker></app-newsticker>
      </div>
    </div>
    <mat-divider vertical></mat-divider>
    <div
      fxFlex="7 7 auto"
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
      class="p-2"
      style="overflow-y: hidden"
    >
      <app-main-view fxFlex="1 1 100px"></app-main-view>
      <app-hand fxFlex="0 0 0"></app-hand>
    </div>
  </div>
  <div fxFlex="0 0 0">
    <mat-divider></mat-divider>
  </div>
</div>

<!--<mat-sidenav-container hasBackdrop="false" class="fill-body">-->
<!--  <mat-sidenav mode="side" opened>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content class="fill-bar">-->

<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
