@import "~@angular/material/theming";
@include mat-core();

// import custom theme
@import "antibody-theme.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/utilities";

// specify theme class eg: <body class="my-theme"> ... </body>
.antibody-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($antibody-theme);
}

html,
body {
  height: 100%;
  margin: 0;

  background-color: #232323;
  color: white;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}


