<div
  class="position-relative w-100 h-100"
  *ngIf="e">

  <ng-container *ngFor="let layer of layers">

    <div
      *ngFor="let item of layer.items"
      class="position-absolute"
      [style.right]="'calc(' + (item.baseX*1.2-15) + '% + ' + (e.x/2)/layer.moveDepth + 'px)'"
      [style.bottom]="'calc(' + (item.baseY*1.2-15) + '% + ' + (e.y/2)/layer.moveDepth + 'px)'"
    >


      <img
        src="assets/virus2_sm.png"
        class="virus-rotate"
        [style.opacity]="2/(layer.displayDepth/2)"
        [style.margin-right]="-imageBaseSize / layer.displayDepth / 2 + 'px'"
        [style.margin-bottom]="-imageBaseSize / layer.displayDepth / 2 + 'px'"
        [style.width]="imageBaseSize / layer.displayDepth + 'px'"
        alt="">
    </div>


  </ng-container>


</div>

